html {
    font: 10pt sans-serif;
}

#chart {
    text-align: center;
}

#tip {
    display: none;

    position: absolute;
    left: 0px;
    top: 0px;

    text-align: left;

    margin-top: 1em;
    margin-left: 1em;

    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid black;
    border-radius: 0.5em;

    padding: 0.5em;

    color: white;
}

#tip .title {
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
}

#tip table {
    border-spacing: 0;
    border-collapse: collapse;
}

#tip table th,
#tip table td {
    padding: 0;
}

#tip table th {
    font-weight: normal;
}

#tip table td {
    font-family: monospace;
    padding-left: 1em;
}

#tip tbody.ext tr:first-child {
    border-top: 1px dotted white;
}

.bar text {
    fill: black;
    font-weight: bold;
    text-anchor: end;
}

.bar line {
    stroke: rgba(0, 0, 0, 0.25);
    stroke-width: 2;
    stroke-dasharray: 5,2;
}

.marker line {
    stroke: black;
    stroke-width: 1;
}

.marker circle {
    fill: black;
}

.axis text {
    fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

text.axis-label {
    font-weight: bold;
    font-style: italic;

    text-anchor: middle;
}

