html {
    font-size: 10pt;
    font-family: sans-serif;
}

h2 {
    margin: 0;
    font-size: 115%;

    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
}

#options {
    float: right;

    padding: 0.5em;
    border-radius: 0.5em;

    border: 2px solid black;
    background-color: #444;

    color: white;
}

#options input[type=range] {
    vertical-align: middle;
}

#options button {
    font-weight: bold;
    padding: 0.5em;
}

#options span {
    padding-left: 0.5em;
}

#options p#export {
    text-align: right;
}

#tip {
    display: none;

    position: absolute;
    left: 0px;
    top: 0px;

    text-align: left;

    margin-top: 1em;
    margin-left: 1em;

    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid black;
    border-radius: 0.5em;

    padding: 0.5em;

    color: white;
}

#tip .title {
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
}

#tip table {
    border-spacing: 0;
    border-collapse: collapse;
}

#tip table th,
#tip table td {
    padding: 0;
}

#tip table th {
    font-weight: normal;
}

#tip table td {
    font-family: monospace;
    padding-left: 1em;
}

#tip tbody.ext tr:first-child {
    border-top: 1px dotted white;
}

#chart {
    text-align: center;
}
