[submodule "external/datasets"]
	path = external/datasets
	url = https://github.com/tudocomp/datasets.git
[submodule "external/bit_span"]
	path = external/bit_span
	url = https://github.com/tudocomp/bit_span.git
[submodule "external/compact_sparse_hash"]
	path = external/compact_sparse_hash
	url = https://github.com/tudocomp/compact_sparse_hash.git
