[submodule "etc/datasets"]
	path = etc/datasets
	url = git@github.com:Kimundi/datasets.git
[submodule "external/bit_span"]
	path = external/bit_span
	url = git@github.com:Kimundi/bit_span.git
[submodule "external/compact_sparse_hash"]
	path = external/compact_sparse_hash
	url = git@github.com:Kimundi/compact_sparse_hash.git
