/build*
include/tudocomp/config.h
include/tudocomp/tudocomp.hpp
Cargo.lock
*~
.~lock.*
*.aux
*.pdf
*.log
*.errlog
*.stxxl
*.out
*.toc
CMakeLists.txt.user
__pycache__
.ccls
.directory
.ccls-cache
cmake-build-debug/
.vscode