html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

html {
    font-family: 'RalewaySemiBold', sans-serif;
    width: 100%;
    background-color: #DDD;
}

@media (max-width: 640px) {
    html { font-size: 12px; font-size: 2.5vw; }
}

@media (min-width: 641px) {
    html { font-size: 16px; }
}

body {
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    background-color: #FFF;   
}

.qa-header {
    flex-shrink:0;
    height: 4em;
    
    background-color: #DDD;
    background-image: url(../../tudocomp.svg);
    background-repeat: no-repeat;
    background-size: auto 3em;
    background-position: 0.5em 0.5em;
}

.qa-header h1{
    margin: 0;
    padding-top: 2em;
    padding-right: 1em;

    font-size: 1em;
    font-weight: bold;
    text-align: right;
}

@media (max-width: 720px) {    
    .qa-main {
        margin: 0;
        padding: 1em;
    }
}

@media (min-width: 721px) and (max-width: 1280px), (min-width: 721px) and (max-height: 720px) {
    .qa-main {
        margin: 1em;
        padding: 1em;
    }
}

@media (min-width: 1281px) and (max-width: 1920px) and (min-height: 721px) {
    .qa-main {
        margin: 2em;
        padding: 2em;
    }
}

@media (min-width: 1921px) and (min-height: 721px) {
    .qa-main {
        min-width: 1856px;
        max-width: 1856px;
        margin: 2em auto 2em auto;
        padding: 2em;
    }
}

.qa-main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #9B9;
    border-radius: 0.5em;
    background-color: #CFC;
}

.qa-main > * {
    flex-shrink: 0;
    margin-bottom: .5em
}

.qa-description {
    margin-left: .5em;
    margin-top: 1em;
    font-weight: bold;
}

.qa-textarea {
    box-sizing:border-box;
    padding:.5em;
    resize:none;
    border: 1px solid #9B9;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

.qa-separator {
    padding-left:.5em;
    font-family: 'Source Code Pro', monospace;
}


.qa-structures {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding:.25em;
    border: 1px solid #9B9;
    background-color: #FFF;
}

.qa-structure {
    flex-shrink: 0;
    box-sizing: border-box;
    padding:.2em;
    margin:.25em;
    border: 1px solid #9B9;
    cursor: move;
    cursor: -webkit-grabbing;
}

#qa-structures-enabled {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

#qa-structures-disabled {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

#qa-structures-enabled .qa-structure {
    background-color: #CFC;
}

#qa-structures-disabled .qa-structure {
    background-color: #FCC;
}

#qa-structures-enabled .qa-structure-ghost {
    background-color: #EFE !important;
    border-color: #000 !important;
}

#qa-structures-disabled .qa-structure-ghost {
    background-color: #FEE !important;
    border-color: #000 !important;
}

.qa-structure-drag {
    border-color: #000 !important;
    background-color: #FFF !important;
}

.qa-structures-header {
    box-sizing: border-box;
    padding:.2em;
    margin:.25em;
}

.qa-options {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:.25em;
    border: 1px solid #9B9;
    background-color: #FFF;
}

.qa-option {
    flex-shrink: 0;
    box-sizing: border-box;
    padding:.2em;
    margin:.25em;
    margin-right: .75em;
}
