@import url(//fonts.googleapis.com/css?family=Raleway:400,600,700|Source+Code+Pro:500);

html {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
}

body {
    margin: 0;

    width: 100%;
    height: 100%;
    max-height: 100%;

    overflow: none;

    background-color: #DDD;
}

header {
    height: 4em;

    background-image: url(../tudocomp.svg);
    background-repeat: no-repeat;
    background-size: auto 3em;
    background-position: 0.5em 0.5em;
}

header h1 {
    margin: 0;
    padding-top: 2em;
    padding-right: 1em;

    font-size: 1em;
    font-weight: bold;
    text-align: right;
}

section#content {
    background-color: white;
}

tt {
    font-family: 'Source Code Pro', monospace;
}

#main {
}

footer {
    padding: 0.5em;
    text-align: right;
}

#dropzone-wrapper {
    padding: 3em;
}

#dropzone {
    padding: 3em;
    text-align: center;

    background-color: #CFC;

    border: 2px solid #9B9;
    border-radius: 0.5em;
}

#dropzone h1 {
    font-size: 2em;

    margin: 0;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;

    border-bottom: 2px solid #9B9;
}

#dropzone p {
    line-height: 2em;
    margin: 0;
}

#dropzone textarea {
    width: 50%;
    min-height: 5em;
}

button {
    vertical-align: baseline;
    padding: 1px 0.5em 1px 0.5em;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

#chart {
    display: none;

    background-color: white;

    overflow-x: scroll;
    overflow-y: none;

    text-align: center;
}

#chart svg {
}

#options {
    font-size: 0.8em;

    padding: 0.5em;

    background-color: #666;
    color: white;

    margin-bottom: 0.5em;

    display: none;
}

#options h2 {
    display: inline-block;

    font-size: 100%;
    margin: 0;
}

#options input[type=range] {
    vertical-align: middle;
}

#options input[type=checkbox] {
    vertical-align: middle;
}

#options button {
}

#options span {
    padding-left: 0.5em;
}

#options p {
    display: inline-block;
    margin: 0;
    margin-left: 1em;
}

#options p#export {
    float: right;
}

#tip {
    display: none;

    font-size: 0.75em;

    position: absolute;
    left: 0px;
    top: 0px;

    text-align: left;

    margin-top: 1em;
    margin-left: 1em;

    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid black;
    border-radius: 0.5em;

    padding: 0.5em;

    color: white;
}

#tip .title {
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
}

#tip table {
    border-spacing: 0;
    border-collapse: collapse;
}

#tip table th,
#tip table td {
    padding: 0;
}

#tip table th {
    font-weight: normal;
}

#tip table td {
    font-family: 'Source Code Pro', monospace;
    padding-left: 1em;
}

#tip tbody.ext tr:first-child {
    border-top: 1px dotted white;
}
